.list {
  &-item {
    margin-bottom: 0.3125rem;
    padding: 0.625rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
    span {
      flex: 1;
      line-height: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 10rem;
      white-space: nowrap;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.4s;
    }
    &.active {
      background-color: #fff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }
    &__icon {
      min-width: 14px;
      &-btn {
        span {
          color: #767676;
        }
        svg {
          path {
            fill: #7c7c7c;
          }
        }
        svg,
        span {
          opacity: 0.4;
          transition: all 0.3s;
        }
        &:hover {
          svg,
          span {
            opacity: 1;
          }
        }
      }
    }

    &:hover .btn_remove {
      opacity: 1;
    }
  }
}
